/* KEYFRAMES A-Z */
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* VARIABLES A-Z */
:root {
  --darker: #232527;
  --gold: #b18d00;
  --delete: rgba(252, 0, 0, 0.089);
}

/* ELEMENTS A-Z */
* {
  color: var(--gold);
}

a {
  color: var(--gold) !important;
}

a span {
  color: var(--darker);
  text-decoration: underline;
}

a span:hover {
  font-size: 103%;
}

body {
  background-color: #e9e9e9 !important;
}

main {
  min-height: 80vh;
}

main::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 13.6vh;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.8);
  z-index: -1;
}

/* CLASSES A-Z */
.admin-card {
  min-height: 35vh;
  color: var(--darker);
  border-radius: 5px !important;
  background: #e9e9e9 !important;
  box-shadow: 8px 8px 18px #aaaaaa, -10px -8px 18px #ffffff;
}

.dropdown-menu .show {
  z-index: 1 !important;
}

.gold-bar {
  margin: 0;
  height: 0.5vh;
  width: 100%;
  background: linear-gradient(to right, #b28e4d, #f9f19e, #b28e4d);
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.gold-bar:after {
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 0.5vh;
  position: absolute;
  z-index: 0;
  animation: shine 5s infinite 1s;

  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.8)),
    color-stop(99%, rgba(128, 186, 232, 0)),
    color-stop(100%, rgba(125, 185, 232, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

.jumbo-content {
  position: relative;
  top: 70%;
  left: 5%;
}

.navbar {
  height: 12vh;
}

.nav-img {
  height: 10vh;
  width: auto;
}

.nav-pills .nav-link {
  border: none;
  text-align: center;
  margin-top: 1.5vh;
  border-radius: 25px !important;
  background: linear-gradient(145deg, #f9f9f9, #d2d2d2);
  box-shadow: 5px 5px 8px #979797, -5px -5px 8px #ffffff;
}

.nav-pills .nav-link:hover {
  border-radius: 50%;
  background: #e9e9e9 !important;
  box-shadow: 5px 5px 8px #979797, -5px -5px 8px #ffffff;
}

.nav-pills .nav-link.active {
  background: #e9e9e9 !important;
  box-shadow: inset 5px 5px 8px #979797, inset -5px -5px 8px #ffffff;
}

.btn,
.btn-primary {
  color: var(--gold) !important;
  border: none !important;
  text-align: center;
  border-radius: 25px !important;
  background: linear-gradient(145deg, #f9f9f9, #d2d2d2) !important;
  box-shadow: 5px 5px 8px #979797, -5px -5px 8px #ffffff;
}

.btn:hover,
.btn-primary:hover {
  border-radius: 50%;
  background: #e9e9e9 !important;
  box-shadow: 5px 5px 8px #979797, -5px -5px 8px #ffffff;
}

.btn .btn-primary.active {
  background: #e9e9e9 !important;
  box-shadow: inset 5px 5px 8px #979797, inset -5px -5px 8px #ffffff;
}

.video-container {
  /* background: url("./assets/images/collage.jpg");
  background-size: cover; */
  min-height: 85vh;
  overflow: hidden;
  position: relative;
}

/* ID'S A-Z */
#jumbo-video {
  background-color: #ffffff;
  z-index: 0;
  width: 100%;
  height: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.45;
}
